* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Carter_One variant0";
    src: url('./CarterOne-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: white;
}

.logo {
    width: 300px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    color: aliceblue;
    font-family: "Carter_One variant0";
}

#content {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 800px;
}

.nav-bar {
    background-color: black;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 10px;
}

.nav-bar button {
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: white solid 1px;
    border-radius: 5%;
    transition: 0.2s;
}

.nav-bar button:hover {
    scale: 1.2;
    font-weight: bolder;
}

.header {
    background-color: #FF6F61;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.welcome {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #FF6F61;
    color: white;
    padding: 20px;
}
.about {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #FF6F61;
    color: white;
}

.menu-item {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.menu-item h3 {
    font-size: 24px;
}
.menu-item p {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.contact-info h2 {
    font-size: 24px;
}
.contact-info p {
    font-size: 18px;
    line-height: 1.5;
}

.active {
    box-shadow: white 4px 4px 4px;
    font-size: large;
}